/*  Table Component (BEM) */
@use '../includes/common';
.table {
  &--demo {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;

    th {
      @extend %table_header_cell;
    }

    td {
      @extend %table_cell_base;
    }
  }
}
